<p>I&lsquo;ve been drawing and ruining books since I can remember.  Painting walls and driving my mom crazy. ...Oh wait, I still do that...</p>
<p>Anyways, I&lsquo;m not that good when it comes to talk about oneself, so I&lsquo;m gonna leave my resume over here and let my work speak for me :)</p>

<ul class="no-style first-list">
	<li>
                <span>Experience</span>
		<ul class="bullet-style">
			<li>Current Job: Senior artist, Project Manager, Graphic designer go-to person for Difference Games LLC and FGL, 2005 to actual time.
				<ul class="circle-style with-margin">
					<li>Project management, direction and art for upcoming game Her Lost Love for the Kindle Fire Department.</li>
					<li>Creation of illustrations (traditional and digital) and interfaces for tablet and mobile games.</li>
					<li>QA, UI, UX and sound editing, as well as final revisions.</li>
				</ul>
			</li>
			<li>Traditional/Academical Drawing, Character design and Environment design Professor, Veritas University, 2008 - 2011.</li>
			<li>Live caricature digital drawing for Samsung, Play Store and Office Depot, 2010 – 2011</li>
			<li>8 years of experience in web design, logo design, character design, concept design, motion graphics, pre-production, production and post-production pipelines.</li>
		</ul>
	</li>
	<li>
                <span>Special Skills</span>
		<ul class="bullet-style">
			<li>Out of the box thinker and fast solution finder.</li>
			<li>Knowledge of Photoshop, Illustrator, Maya, Zbrush, After Effects, Wings 3D and all kinds of traditional arts.</li>
			<li>Fast conceptualizer and great visualizer for client ideas.</li>
			<li>Fluid English, written and spoken.</li>
			<li>Perfectionist to the last detail, lover of good stories and passionate for videogames.</li>
			<li>Did I mention I love videogames?</li>
		</ul>
	</li>
	<li>
                <span>Education</span>
		<ul class="bullet-style">
			<li>License/Bachelor Degree in Digital Animation, Universidad Veritas, 2011</li>
			<li>BS in secondary education, Castella Conservatory, 2005</li>
			<li>Technical grade in art teaching (VAO 2), Castella Conservatory, 2005</li>
		</ul>
	</li>
	<li>
                <span>Additional Info</span>
		<ul class="bullet-style">
			<li>Attendee at the 2013 Massive Black Workshop in L.A.</li>
			<li>Assistant teacher for college community service: teaching drawing, painting and photography workshops for low resource teenagers for Persona Association, 2008 – 2009.</li>
		</ul>
	</li>
</ul>

<p>...Too many words, let’s go do something fun instead!</p>