<article class="greeting">
	<p>My name is Stephanie and I&lsquo;m an artist. Nice to meet you!</p>

        <p>This is my long due website, now all ready to show off thanks to my brother. Feel free to look around, there’s my portfolio over there to the left updated with my latest work. Also, if you wanna read my rambling and look at my random sketches and whatnot, I invite you to go to my <a href="//naneel.blogspot.com/" target="_blank">Blog</a>.</p>

	<p>If you want to get in contact with me for a commission, please send an email to <a href="mailto: stephanieh511@gmail.com">stephanieh511@gmail.com</a></p>

	<p id="copyright">All the work on this website is property of Stephanie Herrera&copy;. There is no permission to copy, edit, or redistribute any of my work.</p>

</article>



